concurrent = 1
check_interval = 0
connection_max_age = "15m0s"
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ansible_hostname}}"
  url = "https://gitlab.com"
  id = 33317718
  token = "{{ tf_r_key }}"
  token_obtained_at = 2024-03-03T08:18:26Z
  token_expires_at = 0001-01-01T00:00:00Z
  executor = "shell"
  limit = 1
  [runners.cache]
    MaxUploadedArchiveSize = 0
