concurrent = 1
check_interval = 0
connection_max_age = "15m0s"
shutdown_timeout = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "{{ansible_hostname}}"
  url = "https://gitlab.com"
  id = 33368627
  token = "{{ web_r_key }}"
  token_obtained_at = 2024-03-04T17:48:34Z
  token_expires_at = 0001-01-01T00:00:00Z
  executor = "docker"
  [runners.docker]
    tls_verify = false
    image = "docker:cli"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = ["/root/.kube/config:~/kube.cofig:ro", "/usr/local/bin/qbec:/usr/local/bin/qbec", "/usr/local/bin/jsonnet-qbec:/usr/local/bin/jsonnet-qbec"]
    shm_size = 0
    network_mtu = 0



